.container {
  padding: 2.5rem 1.5rem;

  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.container-login {
  background-color: #c2d4dd;
}
.container-signup {
  background-color: #dcc2d6;
}

h1 {
  text-align: center;
}

.cc {
  gap: 5rem;
}
