.custom-navbar {
  background-color: #45526c;
}

.custom-navbar .container {
  background-color: #45526c;

  border-radius: 0;
  padding: 0;
  box-shadow: none;
}

.navbar-brand,
.nav-link {
  color: white !important;
}
